html, body, figure, figcaption, ul, li, h1 {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  text-align: inherit;
}

body {
  font-family: sans-serif;
  text-align: center;
  font-weight: bold;
}

figure {
  display: inline-block;
  border: 10px solid black;
}

h1 {
  font-size: 60px;
  margin: 30px;
}

.tile{
  min-width: 25px;
  min-height: 25px;
  border: 1px solid black;
  float: left;
  background-color: black;
}

.snake{
  background: green;
  min-width: 25px;
  min-height: 25px;
  border: 1px solid black;
  float: left;
}

.apple {
  min-width: 25px;
  min-height: 25px;
  border: 1px solid black;
  float: left;
  background: red
}

.row:after {
  content: ""; /* Empty content string */
  display: block; /* Only block elements can clear */
  clear: both;
}
